<div class="wrapper">
  <div class="navigation-wrapper">
    <h1>Navigationssystem</h1>

    <nav mat-tab-nav-bar backgroundColor="primary">
      <a
        *ngFor="let navigationLink of navigationLinks; index as i;"
        [routerLink]="navigationLink.route"
        [active]="currentRoute == '/' + navigationLink.route"
        (click)="currentRouteIndex = i"
        mat-tab-link
      >
        {{navigationLink.title}}
      </a>
    </nav>
  </div>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <div class="button-wrapper">
    <button (click)="navigatePrevious()" [disabled]="currentRouteIndex === 0">Zurück</button>
    <button (click)="navigateNext()" [disabled]="currentRouteIndex === navigationLinks.length - 1">Vor</button>
  </div>
</div>





